@import url(https://fonts.googleapis.com/css?family=Questrial);

* {
  font-family: 'Questrial', sans-serif !important;
  font-size: 12px !important;
  text-transform: uppercase !important;
  font-weight:normal !important;
  color: #000 !important;
}

.class123-button {
  padding: 10px 15px !important;
}

.requiredfield:after {
  color: #000 !important;
}
